<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mi.myactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyActivity">

        <activity android:name=".MyActivity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- activity组件必须注册在清单文件里 -->
        <activity android:name=".MainActivity" />
        <activity android:name=".MyActivity3" />
        <activity android:name=".MyActivity2" />

        <!-- 注册Service服务 -->
        <service android:name=".MyService" />

        <!-- 静态注册广播接受者 -->
        <receiver android:name=".CustomReceiver">
            <intent-filter>
                <action android:name="com.mi.receiver_flag_" />
            </intent-filter>
        </receiver>

    </application>

</manifest>